@font-face {
  font-family: 'db_heaventmed';
  src: url('./fonts/db_heavent_med_v3.2_0-webfont.eot');
  src: url('./fonts/db_heavent_med_v3.2_0-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/db_heavent_med_v3.2_0-webfont.woff2') format('woff2'),
       url('./fonts/db_heavent_med_v3.2_0-webfont.woff') format('woff'),
       url('./fonts/db_heavent_med_v3.2_0-webfont.ttf') format('truetype'),
       url('./fonts/db_heavent_med_v3.2_0-webfont.svg#db_heaventmed') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(107.97deg, #123F7A 4.19%, #D2343E 112.08%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: 'Prompt', sans-serif;
}
footer {
  padding: 1rem;
  background: #123F7A;
}
#banner {
  background: linear-gradient(102.84deg, #A6374C -2.15%, #133F7A 32.08%, #123F7A 65.83%, #C93541 101.52%);
  position: relative;
  margin-top: 60px;
  height: 810px;
  font-family: 'db_heaventmed';
  /* text-align: center; */
}
#banner-women {
  z-index: 1;
  position: absolute;
  right: 0%;
  bottom: 0%;
  height: 90%;
}
#banner-car {
  position: absolute;
  right: 0%;
  height: 100%;
}
.banner-text {
  position: absolute;
  left: 10%;
  top: 10%;
  text-align: center;
  z-index: 1;
  width: 55%;
}
.banner-head-text {
  font-style: italic;
  font-size: 103px;
}
.btn-light {
  font-family: 'DB Heavent';
  border-radius: 100px;
  color: #1B4076;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 48px;
  line-height: 58px;
}
.banner-text-1 {
  font-size: 123px;
  font-weight: 500;
  line-height: 100px;
}
span[data-text] {
  display:inline-block;
  font-family: 'DB Heavent';
  font-weight: 700;
  font-size: 207px;
  line-height: 130px;
  position:relative;
}
span[data-text]:before {
  content:attr(data-text);
  text-shadow: 0 0 0 white;
  background: white;
  -webkit-text-stroke: 3px transparent;    
  -webkit-background-clip: text;
  background-clip: text;
  color:transparent;
}
span[data-text]:after {
  content:attr(data-text);
  left:0;
  top:0;
  position:absolute;
  background-image: linear-gradient(180deg, #DC3B50 33.06%, #D3353F 69.35%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}
.th {
  background: rgba(255, 255, 255, 0.2) !important;
}
.tb {
  text-align: left;
  padding-left: 30% !important;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
}
.bg-blue {
  background: #123F7A;
}

.bg-white {
  background: white;
}

.nav-item, .nav-item-phone, .nav-item-line {
  font-weight: bold;
  color: white;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
  margin-left: -1px;
  text-decoration: none;
  vertical-align: middle;
}

.nav-item:before, .nav-item-phone:before, .nav-item-line:before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  color: white;
  z-index: -1;
  transition: all .2s linear;
}

.nav-item:hover {
  transform: skew(-15deg);
  background: #D2343E;
  color: white;
}

.nav-item.active {
  color: white;
  transform: skew(-15deg);
  background: #D2343E;
}

.nav-item.active a {
  color: white !important;
}

.nav-item-phone:before {
  transform: skew(-15deg);
  background: #D2343E;
}

.nav-item-line:before {
  transform: skew(-15deg);
  background: #68B82B;
}

.btn-red {
  color: white;
  background: #D2343E;
  border-color: #D2343E;
  font-size: 24px;
  box-shadow: 0px 4px 6px 0px #00000040;
  border-radius: 10px;
}
.btn-red:hover {
  background: #ab262e;
  border-color: #ab262e;
  color: white;
}

.btn-green {
  color: white;
  background: #68B82B;
  border-color: #68B82B;
  font-size: 24px;
  box-shadow: 0px 4px 6px 0px #00000040;
  border-radius: 10px;
}
.btn-green:hover {
  background: #5ba621;
  border-color: #5ba621;
  color: white;
}

.btn-red a, .btn-green a,
.btn-red:hover a, .btn-green:hover a {
  color: white;
  text-decoration: none;
}

.btn-red:focus,
.btn-red.focus,
.btn-green:focus,
.btn-green.focus {
    box-shadow: none;
}

.btn-red.disabled,
.btn-red:disabled,
.btn-green.disabled,
.btn-green:disabled {
    color: #212529;
    background-color: #7cc;
    border-color: #5bc2c2
}

.slick-slider .slick-list {
  padding: 2em 2em !important;
}

.img-slide {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.img-slide:hover {
  transform: scale(1.1);
  box-shadow: 4px 5px 7px 0px #0000001A;
}

.parallelogram-wrapper {
  background-color: transparent;
  border-color: transparent;
  padding: 0.5em;
  top: 0; left: 0; right: 0; bottom: 0;
  transform: skew(-15deg);
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.parallelogram-wrapper:hover {
  transform: scale(1.5);
  transform: skew(-15deg);
}

.displayMobile {
  display: none;
}

.display {
  display: block;
}

.close-left {
  position: absolute;
  right: 3%;
  top: 3%;
}

@media only screen and (min-width: 1440px) {
  .banner-text {
    left: 4%;
  }
}
@media only screen and (max-width: 1440px) {
  #banner {
    max-width: 100% !important;
  }
}
@media only screen and (min-width: 991px) and (max-width: 1280px) {
  #banner {
    height: 650px;
  }
  .banner-text {
    left: 5%;
  }
  .banner-head-text {
    font-size: 76px;
  }
  .banner-text-1 {
    font-size: 86px;
    line-height: 78px;
  }
  span[data-text] {
    font-size: 142px;
    line-height: 96px;
    margin-bottom: 5%;
  }
  .btn-light {
    font-size: 36px;
    line-height: 48px;
  }
  .banner-p {
    font-size: 24px;
  }
  #banner-women {
    height: 80%;
  }
}
@media only screen and (max-width: 991px) {
  .nav-item.active, .nav-item:hover {
    transform: skew(0deg);
  }
  .nav-item-phone:before, .nav-item-line:before {
    transform: skew(0deg);
    background: transparent;
  }
  #banner {
    height: 430px;
  }
  .displayMobile {
    display: block;
  }
  .display {
    display: none;
  }
  h5 {
    font-size: 16px;
  }
  .tb {
    padding-left: 10% !important;
  }
  .iconCheck {
    width: 15px;
    height: 15px;
  }
  .banner-head-text {
    font-size: 56px;
  }
  .banner-text-1 {
    font-size: 64px;
    line-height: 56px;
    margin-bottom: 0%;
  }
  span[data-text] {
    font-size: 108px;
    line-height: 80px;
    margin-bottom: 0%;
  }
  .btn-light {
    font-size: 24px;
    line-height: 24px;
  }
  .banner-p {
    font-size: 18px;
  }
  #banner-women {
    height: 85%;
  }
}
@media only screen and (max-width: 625px) {
  #banner {
    height: 320px;
  }
  .banner-text {
    left: 2%;
    width: 50%;
  }
  .banner-head-text {
    font-size: 28px;
  }
  .banner-text-1 {
    font-size: 36px;
    line-height: 30px;
  }
  span[data-text] {
    font-size: 64px;
    line-height: 60px;
  }
  .btn-light {
    font-size: 16px;
    line-height: 16px;
  }
  .banner-p {
    font-size: 14px;
  }
  #banner-women {
    height: 85%;
  }
  .tb {
    padding-left: 20% !important;
  }
}
@media only screen and (max-width: 375px) {
  .banner-text {
    width: 70%;
  }
  #banner-women {
    height: 55%;
  }
}