body {
  height: 100%;
  margin: 0;
  background: linear-gradient(107.97deg, #123F7A 4.19%, #D2343E 112.08%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: 'Prompt', sans-serif;
}
footer {
  padding: 1rem;
  background: #123F7A;
}
.th {
  background: rgba(255, 255, 255, 0.2) !important;
}
.tb {
  text-align: left;
  padding-left: 30% !important;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
}
.bg-blue {
  background: #123F7A;
}

.bg-white {
  background: white;
}

.nav-item, .nav-item-phone, .nav-item-line {
  font-weight: bold;
  color: white;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
  margin-left: -1px;
  text-decoration: none;
  vertical-align: middle;
}

.nav-item:before, .nav-item-phone:before, .nav-item-line:before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  color: white;
  z-index: -1;
  transition: all .2s linear;
}

.nav-item:hover {
  transform: skew(-15deg);
  background: #D2343E;
  color: white;
}

.nav-item.active {
  color: white;
  transform: skew(-15deg);
  background: #D2343E;
}

.nav-item.active a {
  color: white !important;
}

.nav-item-phone:before {
  transform: skew(-15deg);
  background: #D2343E;
}

.nav-item-line:before {
  transform: skew(-15deg);
  background: #68B82B;
}

.btn-red {
  color: white;
  background: #D2343E;
  border-color: #D2343E;
  font-size: 24px;
  box-shadow: 0px 4px 6px 0px #00000040;
  border-radius: 10px;
}
.btn-red:hover {
  background: #ab262e;
  border-color: #ab262e;
  color: white;
}

.btn-green {
  color: white;
  background: #68B82B;
  border-color: #68B82B;
  font-size: 24px;
  box-shadow: 0px 4px 6px 0px #00000040;
  border-radius: 10px;
}
.btn-green:hover {
  background: #5ba621;
  border-color: #5ba621;
  color: white;
}

.btn-red a, .btn-green a,
.btn-red:hover a, .btn-green:hover a {
  color: white;
  text-decoration: none;
}

.btn-red:focus,
.btn-red.focus,
.btn-green:focus,
.btn-green.focus {
    box-shadow: none;
}

.btn-red.disabled,
.btn-red:disabled,
.btn-green.disabled,
.btn-green:disabled {
    color: #212529;
    background-color: #7cc;
    border-color: #5bc2c2
}

.slick-slider .slick-list {
  padding: 2em 2em !important;
}

.img-slide {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.img-slide:hover {
  transform: scale(1.1);
  box-shadow: 4px 5px 7px 0px #0000001A;
}

.parallelogram-wrapper {
  background-color: transparent;
  border-color: transparent;
  padding: 0.5em;
  top: 0; left: 0; right: 0; bottom: 0;
  transform: skew(-15deg);
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.parallelogram-wrapper:hover {
  transform: scale(1.5);
  transform: skew(-15deg);
}

.displayMobile {
  display: none;
}

.display {
  display: block;
}

.close-left {
  position: absolute;
  right: 3%;
  top: 3%;
}

@media only screen and (max-width: 991px) {
  .nav-item.active, .nav-item:hover {
    transform: skew(0deg);
  }
  .nav-item-phone:before, .nav-item-line:before {
    transform: skew(0deg);
    background: transparent;
  }
  .displayMobile {
    display: block;
  }
  .display {
    display: none;
  }
  h5 {
    font-size: 16px;
  }
  .tb {
    padding-left: 10% !important;
  }
  .iconCheck {
    width: 15px;
    height: 15px;
  }
}
